meshflow.txt
[
    {
        "id": "2ed751de9360a76e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e02c01c3309f9b2f",
        "type": "mqtt-broker",
        "name": "public mqtt",
        "broker": "192.168.1.22",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "77dff47ade8636a0",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "192.168.1.22",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8f889cae95fa95e6",
        "type": "mqtt in",
        "z": "2ed751de9360a76e",
        "name": "",
        "topic": "89523/public/2/json/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e02c01c3309f9b2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "1b21e51d739bfe17",
                "60c9cfa4cff20a54"
            ]
        ]
    },
    {
        "id": "1b21e51d739bfe17",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Reject public",
        "property": "payload.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "62cec989dd9de96a"
            ],
            [
                "62cec989dd9de96a"
            ]
        ]
    },
    {
        "id": "6d84eb4d21fa828a",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "/home/clockwork/.local/bin/meshcli chan 1 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "mcsend",
        "x": 2000,
        "y": 240,
        "wires": [
            [
                "6c8fbbe163cac980"
            ],
            [
                "d93fda5ff0cb19c5",
                "03a93b65aea3304e"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "d93fda5ff0cb19c5",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Mcsend readout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 240,
        "wires": []
    },
    {
        "id": "2e95e6412e3f943d",
        "type": "change",
        "z": "2ed751de9360a76e",
        "name": "Format",
        "rules": [
            {
                "t": "move",
                "p": "payload.output",
                "pt": "msg",
                "to": "buff",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "buff",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "5cb9a9c0aec4d79d",
                "4049bd7ad91ccc09"
            ]
        ]
    },
    {
        "id": "5cb9a9c0aec4d79d",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Pkg for mc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbd455f8cdf4031c",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "/home/clockwork/.local/bin/meshcli sync_msgs",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "mcread",
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "fe3e7d49bf1a9c05"
            ],
            [
                "03a93b65aea3304e"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "44e09bc9d00b81d6",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "MC 2 bridge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "b67c1076992af61b",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "Manual fetch",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "53e4f2d40723ce2a"
            ]
        ]
    },
    {
        "id": "c319fa727c3ce3bc",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "To STR",
        "func": "var buff = msg.payload\nvar str = buff.toString()\nstr = str.substring(31)\nmsg.payload = '\"' + str + '\"'\n//msg.payload = str\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 440,
        "wires": [
            [
                "385bc85854a5ea58"
            ]
        ]
    },
    {
        "id": "a8261bf2975f7989",
        "type": "change",
        "z": "2ed751de9360a76e",
        "name": "Hold instruct",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "!#WAIT#!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 300,
        "wires": [
            [
                "53e4f2d40723ce2a"
            ]
        ]
    },
    {
        "id": "472fc14f226c862f",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "/home/clockwork/.local/bin/meshtastic --host localhost --ch-index 1 --sendtext ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "MT send",
        "x": 2000,
        "y": 440,
        "wires": [
            [],
            [
                "03a93b65aea3304e",
                "021966e3afacc321"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "51766bc2331aa42d",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "Trigger mc symc",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "21",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "53e4f2d40723ce2a"
            ]
        ]
    },
    {
        "id": "fe3e7d49bf1a9c05",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Ignore public",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "32mpublic",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ch1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 440,
        "wires": [
            [
                "820a2a40f9159c8e"
            ],
            [
                "44e09bc9d00b81d6",
                "820a2a40f9159c8e"
            ]
        ]
    },
    {
        "id": "88618ce2c1eb1ce0",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Format",
        "func": "var buff = msg.payload\nmsg.payload = '\"' + buff + '\"'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 240,
        "wires": [
            [
                "ec5026dc550dd5a1"
            ]
        ]
    },
    {
        "id": "385bc85854a5ea58",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1800,
        "y": 440,
        "wires": [
            [
                "472fc14f226c862f",
                "964adfd186233feb"
            ]
        ]
    },
    {
        "id": "ec5026dc550dd5a1",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1820,
        "y": 240,
        "wires": [
            [
                "6d84eb4d21fa828a",
                "a8261bf2975f7989",
                "454de3990841c3ad"
            ]
        ]
    },
    {
        "id": "53e4f2d40723ce2a",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "BT lockout",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "f783a2f72e7bd6f6"
            ]
        ]
    },
    {
        "id": "f783a2f72e7bd6f6",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Scrub wait flag",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!#WAIT#!",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 440,
        "wires": [
            [],
            [
                "fbd455f8cdf4031c"
            ]
        ]
    },
    {
        "id": "0e0046dc793e8540",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Ignore self",
        "property": "payload.from",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1735924791",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4146000508",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 870,
        "y": 240,
        "wires": [
            [],
            [],
            [
                "7e90b1d1fad46aeb"
            ]
        ]
    },
    {
        "id": "7e90b1d1fad46aeb",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Label name",
        "func": "var msgBuff = msg.payload.payload.text\nvar sender = msg.payload.from\nif(msgBuff === undefined)\n{\n    var backup = msg.payload.payload\n    //backup.toString()\n    msg.payload.output = sender + \": \" + backup\n}\nelse\n{\n    msg.payload.output = sender + \": \" + msgBuff\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "2e95e6412e3f943d",
                "5026ce1893a4d4d5"
            ]
        ]
    },
    {
        "id": "4903ce17e6109831",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "ErrorCt",
        "func": "var gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\nvar errors = flow.get(\"errorCt\")\nerrors ++\nflow.set(\"errorCt\", errors)\nvar totalGated = gMT + gMC\nvar errorRate\nif(totalGated != 0){errorRate = errors / totalGated}\nelse{errorRate = errors}\nmsg.gateTot = totalGated\nmsg.gatedmt = gMT\nmsg.gatedmc = gMC\nmsg.errors = errors\nmsg.errorRate = errorRate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2560,
        "y": 560,
        "wires": [
            [
                "71919494ac6b61a4",
                "06cb7a59122d0de8"
            ]
        ]
    },
    {
        "id": "5d44865dc87ccb9f",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "isError",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2410,
        "y": 560,
        "wires": [
            [],
            [
                "4903ce17e6109831"
            ]
        ]
    },
    {
        "id": "20f819abb8dd1dc5",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Error report",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2930,
        "y": 520,
        "wires": []
    },
    {
        "id": "03a93b65aea3304e",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "isConnIssue",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "INFO:meshcore:Couldn't find device ",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2430,
        "y": 520,
        "wires": [
            [
                "5d44865dc87ccb9f"
            ],
            []
        ]
    },
    {
        "id": "38891239840e0b79",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "onStart / reset stats",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "b171c45c4b4f2758"
            ]
        ]
    },
    {
        "id": "b171c45c4b4f2758",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": " Init",
        "func": "flow.set(\"errorCt\", 0)\nflow.set(\"gatedMT\", 0)\nflow.set(\"gatedMC\", 0)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 660,
        "wires": [
            [
                "6e07e58f5cf43f9b"
            ]
        ]
    },
    {
        "id": "454de3990841c3ad",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "gatedCt 2mc",
        "func": "var errors = flow.get(\"errorCt\")\nvar gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\ngMC ++\nflow.set(\"gatedMC\", gMC)\nvar totalGated = gMT + gMC\nvar errorRate = errors / totalGated\nmsg.gateTot = \"Total gated: \" + totalGated\nmsg.gatedmt = \"Gated to mt: \" + gMT\nmsg.gatedmc = \"Gated to mc: \" + gMC\nmsg.errors = \"Errors: \" + errors\nmsg.errorRate = \"Errors / msg: \" + errorRate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 160,
        "wires": [
            [
                "7ba260e42f95fb58",
                "b01bb036e504e605"
            ]
        ]
    },
    {
        "id": "964adfd186233feb",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "gatedCt 2mt",
        "func": "var gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\nvar errors = flow.get(\"errorCt\")\ngMT ++\nflow.set(\"gatedMT\", gMT)\nvar totalGated = gMT + gMC\nvar errorRate = errors / totalGated\nmsg.gateTot = \"Total gated: \" + totalGated\nmsg.gatedmt = \"Gated to mt: \" + gMT\nmsg.gatedmc = \"Gated to mc: \" + gMC\nmsg.errors = \"Errors: \" + errors\nmsg.errorRate = \"Errors / msg: \" + errorRate\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 320,
        "wires": [
            [
                "5bac026efbc7af96",
                "b01bb036e504e605"
            ]
        ]
    },
    {
        "id": "7ba260e42f95fb58",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Status output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2440,
        "y": 160,
        "wires": []
    },
    {
        "id": "5bac026efbc7af96",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Status output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2440,
        "y": 320,
        "wires": []
    },
    {
        "id": "021966e3afacc321",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Mtsend readout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2440,
        "y": 400,
        "wires": []
    },
    {
        "id": "5026ce1893a4d4d5",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "525b48e08907dc8c",
        "type": "catch",
        "z": "2ed751de9360a76e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 2440,
        "y": 620,
        "wires": [
            [
                "4903ce17e6109831"
            ]
        ]
    },
    {
        "id": "820a2a40f9159c8e",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "isCMD",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "#!",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$help",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$bridgestat",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$bbshelp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$ping",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1390,
        "y": 460,
        "wires": [
            [
                "a436b6bb9990c7b1"
            ],
            [
                "b3d7d62fa3f60336"
            ],
            [
                "88b458c8b4352217"
            ],
            [
                "d4f048b2b797c11f"
            ],
            [
                "2769697beed08e60"
            ],
            [
                "c319fa727c3ce3bc"
            ]
        ]
    },
    {
        "id": "a436b6bb9990c7b1",
        "type": "split",
        "z": "2ed751de9360a76e",
        "name": "",
        "splt": "#!",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "c51afb07d2413be9"
            ]
        ]
    },
    {
        "id": "c51afb07d2413be9",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Reject noise",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ch1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1590,
        "y": 380,
        "wires": [
            [],
            [
                "5e851608640c15e9"
            ]
        ]
    },
    {
        "id": "5e851608640c15e9",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "To STR",
        "func": "var buff = msg.payload\nvar str = buff.toString()\nmsg.payload = str\n//msg.payload = str\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 380,
        "wires": [
            [
                "28d2674746d91cad",
                "964adfd186233feb"
            ]
        ]
    },
    {
        "id": "28d2674746d91cad",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "cd /home/clockwork/MeshBridge && ./mtsend.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2120,
        "y": 380,
        "wires": [
            [
                "021966e3afacc321"
            ],
            [
                "021966e3afacc321",
                "03a93b65aea3304e"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "88b458c8b4352217",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "bridgestat",
        "func": "var errors = flow.get(\"errorCt\")\nvar gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\nvar totalGated = gMT + gMC\nvar errorRate = errors / totalGated\nmsg.payload = '\"' + \"TotG: \" + totalGated + \" | gMT: \" + gMT + \" | gMC: \" + gMC + \" | err: \" + errors + \" | err/msg: \" + errorRate + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 720,
        "wires": [
            [
                "5558b3b4753fe3fb"
            ]
        ]
    },
    {
        "id": "eaf6399bd5142ce9",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "CMDout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 600,
        "wires": []
    },
    {
        "id": "4049bd7ad91ccc09",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "isCMD",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "$bridgestat",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$help",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$bbshelp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "$ping",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 1390,
        "y": 240,
        "wires": [
            [
                "88b458c8b4352217"
            ],
            [
                "b3d7d62fa3f60336"
            ],
            [
                "d4f048b2b797c11f"
            ],
            [
                "2769697beed08e60"
            ],
            [
                "88618ce2c1eb1ce0"
            ]
        ]
    },
    {
        "id": "5561b814b62b3db6",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1780,
        "y": 180,
        "wires": [
            [
                "ec5026dc550dd5a1"
            ]
        ]
    },
    {
        "id": "b3d7d62fa3f60336",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "help",
        "func": "msg.payload = '\"' + \"Welcome to Hot mesh bridge!\\nCommands':'\\n'$'bridgestat':' Shows stats about bridge\\n'#''!'cmd':' List of commands on bbs\\n'$'bbshelp':' More info on #! usage\\n'$'ping':' Pings bridge\\nOtherwise type to bridge and have fun! Keep in mind, sometimes messages can take up to 30 seconds to bridge.\" + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "5558b3b4753fe3fb"
            ]
        ]
    },
    {
        "id": "5558b3b4753fe3fb",
        "type": "split",
        "z": "2ed751de9360a76e",
        "name": "Chunker",
        "splt": "100",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1780,
        "y": 600,
        "wires": [
            [
                "be54d6c017ccaad5"
            ]
        ]
    },
    {
        "id": "47d7b24ff08e7c02",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1600,
        "y": 540,
        "wires": [
            [
                "385bc85854a5ea58",
                "5561b814b62b3db6",
                "454de3990841c3ad",
                "964adfd186233feb"
            ]
        ]
    },
    {
        "id": "be54d6c017ccaad5",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "function 1",
        "func": "var buff = msg.payload\nbuff = buff.toString()\nbuff = buff.trim()\nif (!buff.startsWith('\"')) {\n    buff = '\"' + buff\n}\nif (!buff.endsWith('\"')){\n    buff = buff + '\"'\n}\nmsg.payload = buff\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 600,
        "wires": [
            [
                "47d7b24ff08e7c02",
                "eaf6399bd5142ce9"
            ]
        ]
    },
    {
        "id": "d4f048b2b797c11f",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "bbshelp",
        "func": "msg.payload = '\"' + \"The #! moddifier formats the bridged message in a way that the bbs can understand. Simply add #! to the beginning of anything #!cmd says you can do. Example #!wx. If the command is longer than 1 word use quotes around all words after first. Example #!wiki \" + '\"' + \"mesh networking\" + '\"' + \" or #!bbsread \" + '\"' + \"#3\" + '\"' + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 760,
        "wires": [
            [
                "5558b3b4753fe3fb"
            ]
        ]
    },
    {
        "id": "2769697beed08e60",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "ping",
        "func": "msg.payload = '\"' + \"Bridge listening!\" + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 800,
        "wires": [
            [
                "5558b3b4753fe3fb"
            ]
        ]
    },
    {
        "id": "6c8fbbe163cac980",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "BLE connection asked (default behaviour)",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2150,
        "y": 220,
        "wires": [
            [
                "aae5c12c38cda4fb"
            ],
            [
                "d93fda5ff0cb19c5"
            ]
        ]
    },
    {
        "id": "aae5c12c38cda4fb",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "ErrorCt",
        "func": "var gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\nvar errors = flow.get(\"errorCt\")\nerrors ++\ngMC = gMC - 1\nflow.set(\"gatedMC,gMC\")\nflow.set(\"errorCt\", errors)\nvar totalGated = gMT + gMC\nvar errorRate\nif(totalGated != 0){errorRate = errors / totalGated}\nelse{errorRate = errors}\nmsg.gateTot = totalGated\nmsg.gatedmt = gMT\nmsg.gatedmc = gMC\nmsg.errors = errors\nmsg.errorRate = errorRate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 200,
        "wires": [
            [
                "d93fda5ff0cb19c5",
                "71919494ac6b61a4",
                "06cb7a59122d0de8"
            ]
        ]
    },
    {
        "id": "71919494ac6b61a4",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "6",
        "nbRateUnits": "3",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 2760,
        "y": 560,
        "wires": [
            [
                "20f819abb8dd1dc5"
            ],
            [
                "20f819abb8dd1dc5",
                "b36585ce8c9b9704"
            ]
        ]
    },
    {
        "id": "2161ebe85280d140",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Error announce",
        "func": "msg.payload = '\"' + \"Excessive errors detected. Attempting recovery mode.\" + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 580,
        "wires": [
            [
                "5558b3b4753fe3fb",
                "0bbfe77e3443a836"
            ]
        ]
    },
    {
        "id": "d6901ab8c9615281",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "aiov2_ctl LORA off && aiov2_ctl USB off && curl -d \"Meshbridge entered recovery mode\" notify.dewlab.io/mesh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3500,
        "y": 620,
        "wires": [
            [],
            [],
            [
                "806c9d14d5c99901"
            ]
        ]
    },
    {
        "id": "0bbfe77e3443a836",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3180,
        "y": 560,
        "wires": [
            [
                "d6901ab8c9615281"
            ]
        ]
    },
    {
        "id": "806c9d14d5c99901",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3180,
        "y": 680,
        "wires": [
            [
                "1bc5b96bba1423e0"
            ]
        ]
    },
    {
        "id": "1bc5b96bba1423e0",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "aiov2_ctl LORA on && aiov2_ctl USB on",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3280,
        "y": 740,
        "wires": [
            [],
            [],
            [
                "24c2b3f1bc8713c8"
            ]
        ]
    },
    {
        "id": "24c2b3f1bc8713c8",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3180,
        "y": 800,
        "wires": [
            [
                "67ee4d4e59daf7c5"
            ]
        ]
    },
    {
        "id": "67ee4d4e59daf7c5",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Recover announce",
        "func": "msg.payload = '\"' + \"Nodes rebooted\" + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3210,
        "y": 860,
        "wires": [
            [
                "5558b3b4753fe3fb",
                "a0634a412eef5874"
            ]
        ]
    },
    {
        "id": "a0634a412eef5874",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 3200,
        "y": 920,
        "wires": [
            [
                "124b9aedf7f29b73"
            ],
            [
                "124b9aedf7f29b73",
                "9cc908f1bf7c6dfb"
            ]
        ]
    },
    {
        "id": "124b9aedf7f29b73",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Error report",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3450,
        "y": 920,
        "wires": []
    },
    {
        "id": "6e07e58f5cf43f9b",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "aiov2_ctl LORA on && aiov2_ctl USB on && curl -d \"Meshbridge online\" notify.dewlab.io/mesh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 960,
        "y": 660,
        "wires": [
            [],
            [],
            [
                "954a854a88707fb5"
            ]
        ]
    },
    {
        "id": "9cc908f1bf7c6dfb",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3180,
        "y": 980,
        "wires": [
            [
                "af3b6d88e95cd16b"
            ]
        ]
    },
    {
        "id": "e071919ed707fe84",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Hello world",
        "func": "msg.payload = '\"' + \"Bridge online. Hello Mesh!\" + '\"'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 780,
        "wires": [
            [
                "5558b3b4753fe3fb"
            ]
        ]
    },
    {
        "id": "954a854a88707fb5",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "e071919ed707fe84"
            ]
        ]
    },
    {
        "id": "b01bb036e504e605",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "curl -d \"Message bridged\" notify.dewlab.io/mesh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2820,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "06cb7a59122d0de8",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "curl -d \"Error detected!\" notify.dewlab.io/mesh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2810,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b36585ce8c9b9704",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2760,
        "y": 620,
        "wires": [
            [
                "2161ebe85280d140"
            ]
        ]
    },
    {
        "id": "60c9cfa4cff20a54",
        "type": "trigger",
        "z": "2ed751de9360a76e",
        "name": "",
        "op1": "",
        "op2": "No mqtt detected",
        "op1type": "nul",
        "op2type": "str",
        "duration": "90",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "4903ce17e6109831"
            ]
        ]
    },
    {
        "id": "c4101ae15abc8a76",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "60c9cfa4cff20a54"
            ]
        ]
    },
    {
        "id": "af3b6d88e95cd16b",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "cd /home/clockwork/MeshBridge && ./recovery.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3310,
        "y": 1040,
        "wires": [
            [
                "124b9aedf7f29b73"
            ],
            [
                "124b9aedf7f29b73"
            ],
            []
        ]
    },
    {
        "id": "95e4f63dea6fd28f",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3600",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "d7f24957692cc450"
            ]
        ]
    },
    {
        "id": "d7f24957692cc450",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "curl -d \"System stable, Disabling safe mode\" notify.dewlab.io/mesh && rm /home/clockwork/MeshBridge/lockout.txt && echo \"System stable\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Running stable",
        "x": 540,
        "y": 740,
        "wires": [
            [
                "af2c161ce9925dd8"
            ],
            [
                "af2c161ce9925dd8"
            ],
            []
        ]
    },
    {
        "id": "af2c161ce9925dd8",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "5f580facfd3ab1e5",
        "type": "comment",
        "z": "2ed751de9360a76e",
        "name": "Remove to unbridge public",
        "info": "",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "55869d481527bf7d",
        "type": "comment",
        "z": "2ed751de9360a76e",
        "name": "Remove to unbridge public",
        "info": "",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "62cec989dd9de96a",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "text",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 240,
        "wires": [
            [
                "0e0046dc793e8540"
            ],
            []
        ]
    }
]