meshflow.txt
[
    {
        "id": "2ed751de9360a76e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f889cae95fa95e6",
        "type": "mqtt in",
        "z": "2ed751de9360a76e",
        "name": "",
        "topic": "89523/public/2/json/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e02c01c3309f9b2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1b21e51d739bfe17"
            ]
        ]
    },
    {
        "id": "1b21e51d739bfe17",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Reject public",
        "property": "payload.channel",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "0e0046dc793e8540"
            ],
            []
        ]
    },
    {
        "id": "6d84eb4d21fa828a",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "/home/clockwork/.local/bin/meshcli chan 1 \"",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "mcsend",
        "x": 1620,
        "y": 240,
        "wires": [
            [],
            [
                "d93fda5ff0cb19c5",
                "03a93b65aea3304e"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "d93fda5ff0cb19c5",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Mcsend readout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 240,
        "wires": []
    },
    {
        "id": "2e95e6412e3f943d",
        "type": "change",
        "z": "2ed751de9360a76e",
        "name": "Format",
        "rules": [
            {
                "t": "move",
                "p": "payload.output",
                "pt": "msg",
                "to": "buff",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "buff",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "5cb9a9c0aec4d79d",
                "88618ce2c1eb1ce0"
            ]
        ]
    },
    {
        "id": "5cb9a9c0aec4d79d",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Pkg for mc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbd455f8cdf4031c",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "/home/clockwork/.local/bin/meshcli sync_msgs",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "mcread",
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "fe3e7d49bf1a9c05"
            ],
            [
                "03a93b65aea3304e"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "44e09bc9d00b81d6",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "MC 2 bridge",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 540,
        "wires": []
    },
    {
        "id": "b67c1076992af61b",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "Manual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "fbd455f8cdf4031c"
            ]
        ]
    },
    {
        "id": "c319fa727c3ce3bc",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "To STR",
        "func": "var buff = msg.payload\nvar str = buff.toString()\nstr = str.substring(31)\nmsg.payload = '\"' + str + '\"'\n//msg.payload = str\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 440,
        "wires": [
            [
                "385bc85854a5ea58"
            ]
        ]
    },
    {
        "id": "a8261bf2975f7989",
        "type": "change",
        "z": "2ed751de9360a76e",
        "name": "Hold instruct",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "!#WAIT#!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 300,
        "wires": [
            [
                "53e4f2d40723ce2a"
            ]
        ]
    },
    {
        "id": "472fc14f226c862f",
        "type": "exec",
        "z": "2ed751de9360a76e",
        "command": "/home/clockwork/.local/bin/meshtastic --host localhost --ch-index 1 --sendtext ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "MT send",
        "x": 1780,
        "y": 440,
        "wires": [
            [],
            [
                "03a93b65aea3304e",
                "021966e3afacc321"
            ],
            [
                "5d44865dc87ccb9f"
            ]
        ]
    },
    {
        "id": "51766bc2331aa42d",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "Trigger mc symc",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "53e4f2d40723ce2a"
            ]
        ]
    },
    {
        "id": "fe3e7d49bf1a9c05",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Ignore public",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "32mpublic",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ch1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 440,
        "wires": [
            [],
            [
                "44e09bc9d00b81d6",
                "c319fa727c3ce3bc"
            ]
        ]
    },
    {
        "id": "88618ce2c1eb1ce0",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Format",
        "func": "var buff = msg.payload\nmsg.payload = buff + '\"'\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "ec5026dc550dd5a1"
            ]
        ]
    },
    {
        "id": "385bc85854a5ea58",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1620,
        "y": 440,
        "wires": [
            [
                "472fc14f226c862f",
                "964adfd186233feb"
            ]
        ]
    },
    {
        "id": "ec5026dc550dd5a1",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 240,
        "wires": [
            [
                "6d84eb4d21fa828a",
                "a8261bf2975f7989",
                "454de3990841c3ad"
            ]
        ]
    },
    {
        "id": "53e4f2d40723ce2a",
        "type": "delay",
        "z": "2ed751de9360a76e",
        "name": "BT lockout",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "f783a2f72e7bd6f6"
            ]
        ]
    },
    {
        "id": "f783a2f72e7bd6f6",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Scrub metadata",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!#WAIT#!",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 440,
        "wires": [
            [],
            [
                "fbd455f8cdf4031c"
            ]
        ]
    },
    {
        "id": "0e0046dc793e8540",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "Ignore self",
        "property": "payload.from",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1735924791",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 240,
        "wires": [
            [],
            [
                "7e90b1d1fad46aeb"
            ]
        ]
    },
    {
        "id": "7e90b1d1fad46aeb",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "Label name",
        "func": "var msgBuff = msg.payload.payload.text\nvar sender = msg.payload.from\nif(msgBuff === undefined)\n{\n    var backup = msg.payload.payload\n    //backup.toString()\n    msg.payload.output = sender + \": \" + backup\n}\nelse\n{\n    msg.payload.output = sender + \": \" + msgBuff\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 240,
        "wires": [
            [
                "2e95e6412e3f943d",
                "5026ce1893a4d4d5"
            ]
        ]
    },
    {
        "id": "4903ce17e6109831",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "ErrorCt",
        "func": "var gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\nvar errors = flow.get(\"errorCt\")\nerrors ++\nflow.set(\"errorCt\", errors)\nvar totalGated = gMT + gMC\nvar errorRate\nif(totalGated != 0){errorRate = errors / totalGated}\nelse{errorRate = errors}\nmsg.gateTot = totalGated\nmsg.gatedmt = gMT\nmsg.gatedmc = gMC\nmsg.errors = errors\nmsg.errorRate = errorRate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2120,
        "y": 580,
        "wires": [
            [
                "20f819abb8dd1dc5"
            ]
        ]
    },
    {
        "id": "5d44865dc87ccb9f",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1930,
        "y": 580,
        "wires": [
            [],
            [
                "4903ce17e6109831"
            ]
        ]
    },
    {
        "id": "20f819abb8dd1dc5",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Status output 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2300,
        "y": 580,
        "wires": []
    },
    {
        "id": "03a93b65aea3304e",
        "type": "switch",
        "z": "2ed751de9360a76e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "INFO:meshcore:Couldn't find device ",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1750,
        "y": 620,
        "wires": [
            [
                "5d44865dc87ccb9f"
            ],
            []
        ]
    },
    {
        "id": "38891239840e0b79",
        "type": "inject",
        "z": "2ed751de9360a76e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "b171c45c4b4f2758"
            ]
        ]
    },
    {
        "id": "b171c45c4b4f2758",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": " Init",
        "func": "flow.set(\"errorCt\", 0)\nflow.set(\"gatedMT\", 0)\nflow.set(\"gatedMC\", 0)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "454de3990841c3ad",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "gatedCt 2mc",
        "func": "var errors = flow.get(\"errorCt\")\nvar gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\ngMC ++\nflow.set(\"gatedMC\", gMC)\nvar totalGated = gMT + gMC\nvar errorRate = errors / totalGated\nmsg.gateTot = \"Total gated: \" + totalGated\nmsg.gatedmt = \"Gated to mt: \" + gMT\nmsg.gatedmc = \"Gated to mc: \" + gMC\nmsg.errors = \"Errors: \" + errors\nmsg.errorRate = \"Errors / msg: \" + errorRate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 160,
        "wires": [
            [
                "7ba260e42f95fb58"
            ]
        ]
    },
    {
        "id": "964adfd186233feb",
        "type": "function",
        "z": "2ed751de9360a76e",
        "name": "gatedCt 2mt",
        "func": "var gMT = flow.get(\"gatedMT\")\nvar gMC = flow.get(\"gatedMC\")\nvar errors = flow.get(\"errorCt\")\ngMT ++\nflow.set(\"gatedMT\", gMT)\nvar totalGated = gMT + gMC\nvar errorRate = errors / totalGated\nmsg.gateTot = \"Total gated: \" + totalGated\nmsg.gatedmt = \"Gated to mt: \" + gMT\nmsg.gatedmc = \"Gated to mc: \" + gMC\nmsg.errors = \"Errors: \" + errors\nmsg.errorRate = \"Errors / msg: \" + errorRate\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 340,
        "wires": [
            [
                "5bac026efbc7af96"
            ]
        ]
    },
    {
        "id": "7ba260e42f95fb58",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Status output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 160,
        "wires": []
    },
    {
        "id": "5bac026efbc7af96",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Status output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 340,
        "wires": []
    },
    {
        "id": "021966e3afacc321",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "Mtsend readout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 420,
        "wires": []
    },
    {
        "id": "5026ce1893a4d4d5",
        "type": "debug",
        "z": "2ed751de9360a76e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "525b48e08907dc8c",
        "type": "catch",
        "z": "2ed751de9360a76e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1920,
        "y": 640,
        "wires": [
            [
                "4903ce17e6109831"
            ]
        ]
    },
    {
        "id": "e02c01c3309f9b2f",
        "type": "mqtt-broker",
        "name": "public mqtt",
        "broker": "192.168.1.22",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]